.page404 {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page404 h2 {
    font-size: 8rem;
    margin-bottom: 1rem;
}
  
.page404 p {
    font-size: 1.5rem;
}